<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="addPlacePage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Awesome Places
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Categories: </ion-label>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="categories" placeholder="All">
          <ion-option *ngFor="let categoryOption of listOfCategories" values="categoryOption" (ionSelect)="onSelectCategories('categoryOption')">{{ categoryOption }}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngFor="let place of places; let i = index">
    <ion-card *ngIf="place.category == categories || categories == 'All'" (click)="onOpenPlace(place, i)">
      <img [src]="place.imageUrl">
      <ion-card-content text-center>
        <ion-card-title>
          {{ place.title }}
        </ion-card-title>
        <p>
          {{ place.description }}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
